<div class="main_container">
    <div class="shadow"></div>
    <div class="logo_container">
      <img src="/assets/logo.png" alt="">
    </div>
    <div class="ayah_container">
      <img id="m_ayah" src="/assets/ayah.png" alt="">
      <h2>The Religion before Allah is Islam (submission to His Will)</h2>
      <img src="/assets/st.png" alt="">
    </div>
    
    <div class="subtitle">
        <img src="/assets/subt.png" alt="">
    </div>
    
    <a id="start" href="/test">ابدأ الإختبار</a>
</div>